﻿<div style="display: inline-block;margin-top:-17px">
 <span id="home" class="btn btn-primary glyphicon glyphicon-home" style="cursor: pointer;"></span>
 <span id="maps" class="btn btn-primary glyphicon glyphicon-map-marker" style="cursor: pointer;"></span>
 <span id="analytics" class="btn btn-primary glyphicon glyphicon-stats" style="cursor: pointer;"></span>
 <span id="signout" class="btn btn-primary glyphicon glyphicon-remove-sign" style="cursor: pointer;"></span>
</div>
