﻿@using Xapinou.ViewModels
@model SelectPlaceViewModel
<form method="post" action="/api/geolocation" style="display: inline">
 <input type="hidden" name="latitude" value="@Model.Latitude.ToString(new System.Globalization.CultureInfo("en-US"))" />
 <input type="hidden" name="longitude" value="@Model.Longitude.ToString(new System.Globalization.CultureInfo("en-US"))" />
 <div class="input-group">
  <div class="input-group-addon"><span class="glyphicon @Model.GlyphIcon"></span></div>
  <select name="placeId" class="places-opts form-control input-sm">
   <option @(Model.PlaceId == 0 ? "selected" : "") value="0">Définir</option>
   <option @(Model.PlaceId == 1 ? "selected" : "") value="1">Maison</option>
   <option @(Model.PlaceId == 2 ? "selected" : "") value="2">Travail</option>
   <option @(Model.PlaceId == 3 ? "selected" : "") value="3">Ecole</option>
   <option @(Model.PlaceId == 4 ? "selected" : "") value="4">Amis</option>
   <option @(Model.PlaceId == 5 ? "selected" : "") value="5">Bar</option>
   <option @(Model.PlaceId == 6 ? "selected" : "") value="6">Restaurant</option>
   <option @(Model.PlaceId == 7 ? "selected" : "") value="7">Extérieur</option>
  </select>
  <div class="input-group-addon">@Model.Count</div>
 </div>
</form>
