﻿@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="top" class="header">
 <div class="text-vertical-center">
  <div class="container">
   <div class="panel panel-primary">
    <div class="panel-heading">
     @Html.Partial("~/Views/Pages/_Menu.cshtml")
    </div>
    <div class="panel-body">
     <p class="alert alert-info"><strong>Aujourd'hui et hier</strong></p>
     <p></p>
     <canvas id="daily-chart"></canvas>
    </div>
    <div class="panel-footer">
     <p class="alert alert-info"><strong>Cette semaine</strong></p>
     <p></p>
     <canvas id="weekly-chart"></canvas>
    </div>
   </div>
  </div>
 </div>
</header>
@section Javascripts {
 <script src="~/Content/themes/js/charts.js"></script>
}