﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Header*@
<header id="top" class="header">
    <div class="text-vertical-center">
        @*Authenticated*@
        <div class="authenticated container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div style="display: inline-block;">
                        @Html.Partial("~/Views/Pages/_Menu.cshtml")
                    </div>
                </div>
                <div class="panel-body">
                    <p class="alert alert-danger"><strong>Une seule chose à faire !</strong> Cliquez sur ce bouton lorsque vous fumez une cigarette.</p>
                    <form id="smokeme" method="post" action="api/smoke">
                        <input type="hidden" name="currentlatitude" id="currentlatitude" value="" />
                        <input type="hidden" name="currentlongitude" id="currentlongitude" value="" />
                        <input type="hidden" name="timestamp" id="timestamp" value="" />
                        <div class="input-group" style="width: 20%; margin-left: auto; margin-right: auto;">
                            <div class="input-group-addon">
                                <span id="fire" class="glyphicon glyphicon-fire"></span>
                            </div>
                            <input type="submit" class="form-control btn btn-primary btn-lng" value="Je suis en train de fumer" />
                            <div class="input-group-addon"><strong><span id="main-count-daily"></span></strong>
                                <img id="wait" src="/Content/themes/img/ajax-loader.gif" style="display:none" width="16" height="16" /></div>
                        </div>
                    </form>
                    <div id="smoke-error" class="alert alert-danger hide"><strong>Erreur !&nbsp;</strong>Une erreur est survenue.</div>
                    <br />
                    <p>Dernière cigarette : <span id="last-smoked"></span></p>
                </div>
                <div class="panel-footer">
                    <p><em>Aujourd'hui : <span id="count-daily"></span>&nbsp;|&nbsp;Cette semaine : <span id="count-weekly"></span>&nbsp;|&nbsp;Ce mois-ci : <span id="count-monthly"></span></em></p>
                </div>
            </div>
        </div>
        @*Anonymous*@
        <div class="anonymous container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">S'inscrire ou se connecter</h2>
                </div>
                <div class="panel-body">
                    <form id="signupme" method="post" action="api/user">
                        <div class="input-group" style="width: 60%; margin-left: auto; margin-right: auto;">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" class="form-control" name="name" placeholder="Pseudonyme" />
                        </div>
                        <br />
                        <div class="input-group" style="width: 60%; margin-left: auto; margin-right: auto;">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
                            <input type="password" class="form-control" name="userpassword" placeholder="Mot de passe" />
                        </div>
                        <br />
                        <input type="submit" class="btn btn-primary btn-lng" value="Rejoindre" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
@section Javascripts {
    <script src="~/Content/themes/js/home.js"></script>
}
