﻿@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="top" class="header">
 <div class="text-vertical-center">
  <div class="container">
   <div class="panel panel-primary">
    <div class="panel-heading">
     @Html.Partial("~/Views/Pages/_Menu.cshtml")
    </div>
    <div class="panel-body">
     <p class="alert alert-danger"><strong>A quoi sert la carte ? </strong>Enregistrez un lieu pour les endroits où vous fumez. A l'enregistrement d'une nouvelle cigarette dans ce périmètre, celle-ci sera automatiquement raccrochée à ce lieu.</p>
     <p class="alert alert-info"><strong>Aujourd'hui, où avez-vous fumé ?</strong></p>
     <canvas id="places-chart"></canvas>
    </div>
    <div class="panel-footer">
     <div id="smoking-map"></div>
    </div>
   </div>
  </div>
 </div>
</header>
@section Javascripts {
 <script src="~/Content/themes/js/maps.js"></script>
}
