﻿@*jQuery*@
<script src="~/Content/themes/js/jquery.js"></script>

@*Bootstrap Core JavaScript*@
<script src="~/Content/themes/js/bootstrap.min.js"></script>

@*Leaflet*@
<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

@*Chart.js*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

