﻿<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>XaPinou</title>
 @Html.Partial("~/Views/Shared/_Stylesheets.cshtml")
</head>
<body>
 @RenderBody()
 @*Footer*@
 <footer id="about">
  <div class="container">
   <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
     <h4><strong>A Propos</strong>
     </h4>
     <p>
      WebApp, Native Application, Responsive WebSite
     </p>
     <ul class="list-unstyled">
      <li><i class="fa fa-phone fa-fw"></i>(123) 456-7890</li>
      <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:name@example.com">name@example.com</a>
      </li>
     </ul>
     <br>
     <ul class="list-inline">
      <li>
       <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
      </li>
      <li>
       <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
      </li>
      <li>
       <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
      </li>
     </ul>
     <hr class="small">
     <p class="text-muted">Copyright &copy; 2015</p>
    </div>
   </div>
  </div>
 </footer>
 @Html.Partial("~/Views/Shared/_Javascripts.cshtml")
 @RenderSection("javascripts", required: false)
 <script>
  $(function () {
   $('#home').on('click', function (e) {
    e.preventDefault();

    window.location.href = "/";
   });

   $('#maps').on('click', function (e) {
    e.preventDefault();

    window.location.href = "/Index/Maps";
   });

   $('#analytics').on('click', function (e) {
    e.preventDefault();

    window.location.href = "/Index/Analytics";
   });

   $('#signout').on('click', function (e) {
    e.preventDefault();

    localStorage.removeItem("xapiauth");
    window.location.href = "/";
   });

  });
 </script>
</body>
</html>