﻿@*Icons*@
<link href="~/Content/themes/img/android-192.png" rel="icon" sizes="192x192" />
<link href="~/Content/themes/img/android-128.png" rel="icon" sizes="128x128" />

@*Bootstrap*@
<link href="~/Content/themes/css/bootstrap.css" rel="stylesheet" type="text/css">

@*Theme*@
<link href="~/Content/themes/css/stylish-portfolio.css" rel="stylesheet" type="text/css">
<link href="~/Content/themes/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

@*Leaflet*@
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

@*Fonts*@
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

<style>
 #map {
  height: 400px;
 }

 .leaflet-popup-content {
  width: 180px !important;
 }
</style>
